services:
  - docker

env:
  - DOCKER_COMPOSE_VERSION=1.24.1

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

script:
  # Build all images
  - docker-compose build
  # Show image sizes
  - docker images
  # Show application dependencies
  - docker-compose run --rm sampleapp-runtime ldd /home/openvino/inference_engine_demos_build/intel64/Release/security_barrier_camera_demo
  # Show size of files included in /opt/intel/
  - docker-compose run --rm sampleapp-runtime du -a /opt/intel/ | sort -nr
  # Run classification_sample_async
  - docker-compose run --rm sampleapp-runtime /home/openvino/run.sh
  # Run Docker Bench Security
  - >
    docker-compose up -d sampleapp-runtime &&
    docker update --cpu-shares 1024 --memory 200m --memory-swap 200m --pids-limit 1024 sampleapp-runtime &&
    git clone https://github.com/docker/docker-bench-security.git &&
    cd docker-bench-security &&
    ./docker-bench-security.sh
